$black: #000
$white: #fff

$accent: #6956FF
$green: #16B57F
$gray: #C8C7D8

$dark-blue: #1C1C28
$medium-blue: #393953

// Breakpoints

$screen-sm: 'min-width: 450px'
$screen-md: 'min-width: 768px'
$screen-lg: 'min-width: 1024px'
$screen-xl: 'min-width: 1300px'
$screen-xxl: 'min-width: 1440px'