$black: #000
$white: #fff

$accent: #6956FF
$green: #16B57F
$gray: #C8C7D8

$dark-blue: #1C1C28
$medium-blue: #393953

$sm: 640
$md: 768
$lg: 1024
$xl: 1280
$xxl: 1536

$screen-sm: 'min-width: 640px'
$screen-md: 'min-width: 768px'
$screen-lg: 'min-width: 1024px'
$screen-xl: 'min-width: 1280px'
$screen-xxl: 'min-width: 1536px'