@use 'config/variables' as variable

.footer
  &__navigation
    display: flex
    gap: 3rem
    flex-direction: column
    @media screen and ( variable.$screen-sm )
      flex-direction: row
      align-items: center
      gap: 5rem
  &__social
    @media screen and ( variable.$screen-sm )
      margin-left: auto