@use 'config/variables' as variable

.intro
  padding: 4.3rem 0 7.2rem 0
  @media screen and ( variable.$screen-sm )
    padding: 8.5rem 0 12.7rem 0
  &__features
    margin-top: 3.8rem
    gap: 3.2rem
    @media screen and ( variable.$screen-sm )
      margin-top: 8rem
      gap: 2.4rem