@use '../variables' as variables

.banner
  padding: 4.4rem 2rem
  background: linear-gradient(326deg, #6966FF 24.5%, rgba(105, 102, 255, 0.36) 117.69%)
  border-radius: .8rem
  @media ( variables.$screen-sm )
    padding: 4rem