@use '../variables' as variables

html
  font-size: calc(100vw / 320 * 10)
  @media ( variables.$screen-sm )
    font-size: calc(100vw / 1440 * 10)

body
  min-height: 100vh
  font-family: 'CircularStd', sans-serif
  font-size: 1.4rem
  line-height: 1.42
  color: variables.$white
  background: url('/images/grid-top.png') center top / 470% no-repeat, url('/images/grid-bottom.png') center bottom / 470% no-repeat, variables.$dark-blue
  @media ( variables.$screen-sm )
    font-size: 1.6rem
    line-height: 1.5
    background: url('/images/grid-top.png') center top / 100% no-repeat, url('/images/grid-bottom.png') center bottom / 100% no-repeat, variables.$dark-blue

.container
  width: 100%
  max-width: 124.5rem
  margin: 0 auto
  padding: 0 1.6rem
  @media ( variables.$screen-sm )
    padding: 0 1rem
  &--wide
    max-width: 138.8rem
  &--small
    max-width: 83rem

.section
  padding: 4.1rem 0
  overflow: hidden
  @media ( variables.$screen-sm )
    padding: 8.2rem 0
  &-header
    max-width: 60rem
    margin: 0 auto
    text-align: center
    &--wide
      max-width: none
    &__description
      margin-top: 1.6rem
    &__button
      margin-top: 2.2rem
  &-content
    margin-top: 4rem
    @media ( variables.$screen-sm )
      margin-top: 7.7rem

.card
  display: flex
  flex-direction: column
  padding: 2.4rem
  background: variables.$medium-blue
  border-radius: 1.6rem

.content
  > *
    margin-top: .8rem
  > div
    margin-top: 1.6rem
  > ul, ol
    margin-left: 1.5rem
    list-style-type: disc
  > *:first-child
    margin-top: 0

.sr-only
  position: absolute
  width: .1rem
  height: .1rem
  padding: 0
  margin: -.1rem
  overflow: hidden
  clip: rect(0, 0, 0, 0)
  white-space: nowrap
  border: 0